@model TestCentral.ViewModels.AddUserViewModel

<h1>Account Registration</h1>

<form autocomplete="off" asp-controller="User" asp-action="ProcessAddUserForm" method="post">

    <div class="form-group">
        <label>First Name</label>
        <input class="form-control" type="text" name="FirstName" />
        <br />
    </div>

    <div class="form-group">
        <label>Last Name</label>
        <input class="form-control" type="text" name="LastName" />
        <br />
    </div>

    <div class="form-group">
        <label>School Name</label>
        <input class="form-control" type="text" name="SchoolName" />
        <br />
    </div>

    <div class="form-group">
        <label>Emoji (Hold Windows button and hit . to select emoji)</label>
        <input class="form-control" type="text" name="Emoji" />
        <br />
    </div>

    <input type="submit" value="Sign up" />

</form>