@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Home Page";
}

@inject SignInManager<TestUser> SignInManager
@inject UserManager<TestUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Hello @UserManager.GetUserName(User)!</h1>
        <p>Welcome to TestCentral!</p>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome to TestCentral. Please register or login.</h1>
    </div>
}