@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Home Page";
}

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Hello @UserManager.GetUserName(User)!</h1>
    </div>


}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
}



