@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title></title>
    <link href="site.css" rel="stylesheet" type="text/css" />
    <script src="site.js"></script>
</head>
<body>
    <h1>Create a Test</h1>

    <form action="" method="post">
        <div>
            <label for="testName">Title:</label>
            <input type="text" id="testName" name="testName">
        </div><br>
        <div>
            <label for="description">Description:</label>
            <input type="text" id="description" name="description">
        </div>

        <h2>Questions</h2>

        <div id="questionCount">
            <!-- will increment for each new question -->
            <h3>Question 1</h3>
        </div>

        <!-- <div>
          <button id="button-edit">Edit</button>
          <button id="button-delete">Delete</button>
        </div> -->

        <div>
            <label for="questionType">Type:</label>
            <select name="questionType" id="questionType" onchange="populate(this.id, 'restOfQuestion')">
                <option value="">Select One</option>
                <option value="trueFalse">True/False</option>
                <option value="multipleChoice">Multiple Choice</option>
                <option value="textInput">Text Input</option>
            </select>
        </div><br>
        <div>
            <label for="prompt">Prompt:</label>
            <input type="text" id="prompt" name="prompt">
        </div><br>
        <div id="restOfQuestion">
        </div>
        <br>
        <div>
            <button id="add-question">Add Another Question</button><br>
            <button id="submit">Finish and Save Test</button><br>
            <button id="discard">Discard Test</button>
        </div>
    </form>
</body>
</html>
